.popCorsComponent {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleMovieHome {
  font-size: 20px;
  font-family: nunito;
  color: #ffffff;
}
.inputSearch {
  margin-top: 20px;
  border-radius: 10px;
  padding-left: 20px;
  width: 90%;
  height: 45px;
  background-color: #ffffff18;
  border: none;
}
